<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/layout.css">

    {% block head %}
        <title>Home</title>
    {% endblock head %}
    
</head>
<body>
    <header>
        <nav class="links">                
            <a href="/teachers"> Teachers </a>
            <a href="/students"> Students </a>
        </nav>
    </header>
     
    {% block content %}
    {% endblock content %}
    
    <script src="/scripts/scripts.js"></script>
</body>
</html>