<div class="item">
    <div>Imagem da receita</div>
    <input type="url" name="img_recipe"  placeholder="https://" value = "">
</div>

<div class="item">
    <div> Nome da receita</div>
    <input type="text" name="title" value = "">
</div>

<div class="item">
    <div> Autor </div>
    <input type="text" name="author" value = "">
</div>

<div class="item ingredients">    
    <div>Ingredientes</div>
    <div class="ingredient">
        <input type="text" name="ingredients[]" value = "">
    </div>
</div>


<div class="item">
    <span class="add-ingredient">Adicionar novo Ingrediente</span>
</div>

<div class="item preparations">
    <div> Modo de preparo </div>
    <div class="preparation">
        <input type="text" name="preparation_mode[]" value = "">
    </div>
</div>

<div class="item">
    <span class="add-preparation">Adicionar novo passo</span>
</div>

<div class="item">
    <div>informações adicionais</div>
    <textarea name="additional_information" cols="30" rows="10" value = ""></textarea>
</div>
