@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; /*dá um espaço entre os elementos do grid*/
    margin-bottom: 40px;
}

.card {
    background-color: var(--purple-color);
    display: grid;
    cursor: pointer;
}

.card:hover {
    border: 4px solid var(--green-color);
}

.feature-wrapper.card_image-container {
    position: relative;
}

.card_image-container img{
    width: 100%;
}

.featured {
    background: #f7d05f;
    color: #111;
    padding: 2px 8px;    
    border-radius: 16px;
    position: absolute;
    right: 5px;
    top: -10px;
}

.card_content,
.card_info {
    padding: 24px;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    align-items: center;
}

.card_price {
    background-color: var(--purple-color);
    filter: brightness(90%); /*Dá intensidade a cor*/
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}

