{% extends 'layoutAdmin.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/index.css">
    <title>Receitas</title>
{% endblock head %}

{% block content %}

    <div class="titles">
        <h1>Gerenciar receitas</h1> 
        <a href="/admin/recipes/create" class="newRecipes">Nova receita </a>
    </div>   

    <section class="cards">         
        {% for recipe in recipes %}        
            <div class="card">
                <figure>
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <figcaption>
                        <p class="recipe_title">{{recipe.title}}</p>
                        <p class="author">por {{recipe.author}}</p>
                        <a class="view" href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </figcaption>
                </figure>          
            </div>
        {% endfor %} 
    </section>
    
    <div class="pagination" 
    data-page="{{pagination.page}}"
    data-total="{{pagination.totalPages}}" 
    data-filter={{filter}}>
            
    </div>

    <script src="../../../scripts/pagination.js"></script>
    
{% endblock content %}