{% extends 'layout.njk' %}

{% block head %}
<title>Sobre</title>
{% endblock head %}

{% block content %}
    <div id="wrapper">
        <img class="logo" src="images/logo-rocketseat.jpg" alt="Logo da rocketseat">
        <h1> Rocketseat </h1>
        <p> No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa. A Rocketseat trabalha com as melhores tecnologias do momento.</p>
        
        <p class="technology">Principais tecnologias utilizadas em nossos cursos</p>

        <div class="technologies">
            <figure>
                 <img src="https://rocketseat.com.br/static/images/update/curso-javascript.svg" alt="javascript">
                 <figcaption>javascript</figcaption>
            </figure>
            <figure>
                <img src="https://rocketseat.com.br/static/images/update/curso-nodejs.svg" alt="node.js">
                <figcaption>NodeJs</figcaption>
            </figure>
            <figure>
                <img src="https://rocketseat.com.br/static/images/update/curso-reactjs.svg" alt="reactjs">
                <figcaption>ReactJS</figcaption>
            </figure>
            <figure>
                <img src="https://rocketseat.com.br/static/images/update/curso-react-native.svg" alt="react native">
                <figcaption>React Native</figcaption>
            </figure>         
        </div>   
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/Rocketseat" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a href="https://www.facebook.com/rocketseat/" target="_blank" rel="noopener noreferrer">Facebook</a>
    </div>
{% endblock content %}     
    
</body>
</html>