{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="styles/index.css">
    <title>Home</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
        
        <div class="header">
            <a class="button" href="/teachers/create"> Novo </a>

            <form action="/teachers" method="get">
                <input type="text" name="filter" placeholder="Professor ou área de atuação" value={{filter}}>
                <button class="button" type="submit">Filtrar</button>        
            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teachers %} 
                    <tr>                                       
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{ teacher.fullname }}
                        </td>

                        <td>      
                        {% for occupation_area in teacher.occupation_area %}                      
                            <span class="occupation_area"> {{ occupation_area }} </span>                           
                        {% endfor %}  
                        </td>                 
                        <td><a href="/teachers/find/{{teacher.id}}">ver</a></td>                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
{% endblock content %}