{% extends 'layoutUser.njk' %}

{% block head %}
    <title>Home</title>
{% endblock head %}

{% block content %}  
    <div class="jumbotron">
        <div class="jumbotron_content">
            <h1>As melhores receitas</h1>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais
                do mundo inteiro.
            </p>
        </div>
    
        <img src="images/chef.png" alt="" class="chef">
    </div>
    
    <h1 class="section_title">Mais acessadas</h1>

    <section class="cards">      
        {% for recipe in recipes %}        
            <a class="card" href="/recipes/{{recipe.id}}">
                <figure>
                    <img src="{{recipe.image}}" alt="{{recipe.title}}" class="img">
                    <figcaption>
                        <p class="recipe_title">{{recipe.title}}</p>
                        <p class="author"> por {{recipe.author}}</p>
                    </figcaption>
                </figure>          
            </a>
        {% endfor %}  
    </section>

    <div class="pagination" 
        data-page="{{pagination.page}}"
        data-total="{{pagination.totalPages}}" 
        data-filter={{filter}}>
             
    </div> 
{% endblock content %}
