{% extends 'layoutUser.njk' %}

{% block head %}
    <link rel="stylesheet" href="styles/modal.css">
    <title>Receitas</title>
{% endblock head %}

{% block content %}

    <section class="cards">      
        {% for recipe in data.recipes %}        
            <div class="card">
                <figure>
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    <figcaption>
                        <p class="recipe_title">{{recipe.title}}</p>
                        <p class="author">{{recipe.author}}</p>
                    </figcaption>
                </figure>          
            </div>
        {% endfor %}
 
    </section>
    <script src="scripts/recipes.js"></script>
{% endblock content %}