{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/course_description.css">    
    <title>{{found_course.id_01}}</title>
{% endblock head %}

{% block content %}    
    <section class="course">     
         <iframe src="https://rocketseat.com.br/{{found_course.id_01}}" frameborder="0"></iframe>            
    </section>   
{% endblock %}