{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/not-found.css">
    <title>Página não encontrada</title>
{% endblock head %}

{% block content %}
    <h1>ERRO 404!</h1>
    <h2>Página não encontrada</h2>
{% endblock content %}