.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; /*dá um espaço entre os elementos do grid*/
    margin-bottom: 40px;
}

.card {
    background-color: var(--purple-color);
}

.card_image-container img{
    width: 100%;
}

.card_content,
.card_info {
    padding: 24px;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_price {
    background-color: var(--purple-color);
    filter: brightness(90%);
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}