@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: rgb(241, 239, 239);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
}

header div {
    text-align: center;
}

header div a {
    margin: 0 30px;
    text-decoration: none;
    font-size: 18px;
    background-color: rgb(113, 89, 193);
    padding: 8px;
    color: white;
    border-radius: 5px;
}

header div a:hover {
    background: rgb(67, 53, 116);
    transition: 1s;
}