{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="styles/courses.css">
    <title>Conteúdo</title>
{% endblock head %}
    
{% block content %}
    <section class="cards">
        {% for course in courses %}        
            <div class="card" id="{{course.id_01}}">      
                <span class="card_numbers" id="{{course.id_02}}">{{course.course_number}}</span>     

                <div class="card_image">
                    <img src="{{course.imagem_url}}" alt="Curso {{course.id_01}}">
                </div>
                
                <div class="card_content">
                    <p>{{course.content}}</p>
                </div>

                <div class="card-modules">
                    <p> {{course.modules}} </p>
                    <p class="card-price" id="{{course.id_04}}">{{course.price}}</p>
                </div>

                <div class="card_info" id="{{course.id_05}}">
                    <p>{{course.class}}</p>
                </div>
            </div>
        {% endfor %}
    </section>

    <script src="scripts/courses.js"></script>
{% endblock content %}
