input {
    color: #555;
    font-size: 18px;
    outline: none;
    font-weight: bold;
    width: 100%;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

select {
    color: #555;
    font-size: 15px;
}

.button {
    width: 100%;
    background-color: var(--purple-color);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 32px;    
    margin-top: 20px;
}

.button:hover {
    background-color: #6346c4;
    cursor: pointer;
}
