<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/about.css">
    <title>About</title>
</head>
<body>
    <div class="content">
        <img src="../images/logo-rocketseat.jpg" alt="Logo da rocketseat">
        <h1> Rocketseat </h1>
        <p>
            No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa. A Rocketseat trabalha com as melhores tecnologias do momento.

            <ul>
                <li> Node JS </li>
                <li> JavaScript </li>
                <li> React JS</li>
                <li> React Native </li>
            </ul>
        </p>

        <header>
            <a href="https://github.com/Rocketseat" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank" rel="noopener noreferrer">Facebook</a>
        </header>
    </div>    
</body>
</html>