<div class="item">
    <div>Avatar</div>
    <div><input type="url" name="avatar_url"  placeholder="https://" value = "{{ student.avatar_url }}"></div>
</div>

<div class="item">
    <div>Nome completo</div>
    <div><input type="text" name="fullname" placeholder="Nome completo do aluno"  value = "{{ student.fullname }}"></div>
</div>

<div class="item">
    <div>E-mail </div>
    <div><input type="email" name="email" placeholder="name@mail.com" value = "{{ student.email }}"></div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div><input type="date" name="birth"  value = "{{ student.birth }}"></div>
</div>

<div class="item">
    <div>Ano escolar</div>
    <div>
        <select name="school_year">
            <option value="option"> Selecione uma opção... </option>
            <option value="5 elementary School" {% if student.school_year == "5 elementary School" %} selected {% endif %}> 
                5º ano do ensino fundamental 
            </option>

            <option value="6 elementary School" {% if student.school_year == "6 elementary School" %} selected {% endif %}> 
                6º ano do ensino fundamental 
            </option>

            <option value="7 elementary School" {% if student.school_year == "7 elementary School" %} selected {% endif %}> 
                7º ano do ensino fundamental 
            </option>

            <option value="8 elementary School" {% if student.school_year == "8 elementary School" %} selected {% endif %}> 
                8º ano do ensino fundamental 
            </option>

            <option value="9 elementary School" {% if student.school_year == "9 elementary School" %} selected {% endif %}> 
                9º ano do ensino fundamental 
            </option>

            <option value="1 high school" {% if student.school_year == "1 high school" %} selected {% endif %}> 
                1º ano do ensino médio  
            </option>

            <option value="2 high school" {% if student.school_year == "2 high school" %} selected {% endif %}> 
                2º ano do ensino médio  
            </option>

            <option value="3 high school" {% if student.school_year == "3 high school" %} selected {% endif %}> 
                3º ano do ensino médio 
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Teacher </div>
    <div>
        <select name="teacher">
            <option value="option"> Selecione uma opção... </option>
            {% for teacher in teacherOptions %}
                <option value="{{teacher.id}}" {% if student.teacher_id == teacher.id %} selected {% endif %}> 
                    {{teacher.fullname}}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="item">
    <div>Carga horária semanal </div>
    <div><input type="number" name="weekly_workload" placeholder="Quantidade de horas de aulas particulares" value = "{{ student.weekly_workload }}"></div>
</div>

<button type="submit" class="button" id="save"> Salvar </button>