.titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, .titles {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.newRecipes {
    font-size: 18px;
    background-color: #6558C3;
    border-radius: 4px;
    color: white;
    padding: 8px 16px;
}

.newRecipes:hover {
    background-color: #5a4bc4;
    box-shadow: 3px 2px 7px -5px black;
    color: white;
    cursor: pointer;
}

.chef {
    text-align: center;
}

.chef img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.chef .chef_title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 4px;
}

.chef .total_recipes {
    font-size: 20px;
    color: #777777;
    margin-bottom: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.view {
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    display: flex;
    align-items: center;
}

.card p {
    width: 250px;
}

.card img {
    width: 172px;
    height: 80px;
}

.view {
    color: #6558C3;
    font-size: 14px;
}

.view:hover {
    text-decoration: underline;
}