.fields {
    width: 70%;
}

.item div:nth-child(1){
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;    
    margin-top: 30px;
}

.item input {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 940px;
    height: 49px;
    font-size: 16px;
}

.item span {
    font-size: 16px;
    color: #6558C3;
    margin-top: 15px;
    font-weight: bold;
    display: block
}

.item span:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.item textarea {
    width: 940px;
    height: 257px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}


.button {
    background-color: var(--purple-color);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 16px;    
    margin-top: 20px;
    transition: background-color 0.2s;
    width: 121px;
    height: 37px;
}

.headerEdit {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    margin-left: 220px;
}

.button:hover {
    background-color: #6346c4;
    cursor: pointer;
}

#delete {
    background-color: rgb(241, 52, 52);
}

#delete:hover {
    background-color: rgb(241, 38, 38);
}
