@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --green-color: rgb(4, 211, 97);  
    --green-dark-color: rgba(4, 211, 97, 0.952);  
    --orange-color:rgb(253, 149, 31);
    --purple-color: #7159c1;
    --purple-dark-color: #5f41c4;
    --blue-color: rgb(17, 85, 204);
    --blue-dark-color: rgba(4, 77, 204, 0.952);
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


html, body {
    height:100%;
}

a {
    text-decoration: none;
    color: #111111 ;
}

.page-index {
    width: 65%;    
    margin: 0 auto;
    min-height:100%;
    position:relative;
}

.nav {
    display: flex;
    padding: 36px 0;
    align-items: center;
}

nav .logo {
    width: 90.6px;
    height: 26.9px;
}

.head {
    width: 940px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.filter form {
    display: grid;
    grid-template-columns: 1fr 120px;
    justify-content: space-between;
    align-items: center;
    grid-gap: 5px;
}

.filter form input {
    border: 1px solid #eee;
    padding: 6px 8px;
    margin-right: 25px;
    width: 100%;
    box-sizing: border-box;
}

.filter form button {
    display: inline-block;
    background-color: var(--purple-color);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

.filter button:hover {
    background-color: var(--purple-dark-color);
    box-shadow: 3px 2px 7px -5px black;
}

.menu {
    margin:0 85px;
    font-size: 16px;   
}

.menu a {
    margin-right: 30px;
}

.menu a.active {
    color: #fccec7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    transition: 700ms
}

.menu a:hover {
    color: #fccec7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    transition: 700ms
}

.jumbotron {
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    position: relative;
    margin-bottom: 50px;
}
.jumbotron .jumbotron_content {
    position: absolute;
    align-items: center;
    margin: 117px 60px 211px;
}

.jumbotron h1 {    
    margin-bottom: 10px;
}

.jumbotron p {
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;    
    width: 316px;
    height: 84px;
}

.jumbotron img {
    position: absolute;
    right: 100px;
    top: 47px;
    width: initial;
    height: initial;
}

.section_title {
    font-size: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 0;
}

.card .img, img {
    width: 300px;
    height: 140px;
    margin:20px 0;
    margin-right: 20px;
    border-radius: 15px;
    transition: all .4s ease-in;
}

.card .img:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 4px 3px 6px -4px black;
}

.card p {
    font-size: 18px;
    margin-bottom: 5px;   
}

.card .author {
    font-size: 14px;
    color: #777777;
}

.pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: var(--purple-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    background-color: var(--purple-color);
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
}

footer {
    background-color: #EEEEEE;
    height: 35px;
    margin-top: 50px;
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding-top: 20px;
}